header {
    background-image: url("https://rikikurnia.com/assets/header-bg.png");
    background-position: center;
    background-size: cover;
    color: #353535;
    min-height: 550px;
}

header h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2;
}

header p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

@media (max-width: 768px) {
    header {
        height: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    header h1 {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    header p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }
}

section {
    padding: 4rem 0;
}

section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: #000;
    border-color: #000;
}

.btn-primary:hover {
    background-color: #fff;
    color: #000;
}